@use "../../styles/partials/palette";
@use "../../styles/partials/typography";

.wrapper {
  display: flex;
}

.img {
  width: 400px;
}

.product {
  &_title {
    font-size: 64px;
  }

  &_artist {
    opacity: 50%;
  }
}

.addToCart_btn {
  width: 100%;
  padding: 10px;

  font-family: typography.$main-font;
  color: white;
  background-color: palette.$accent-color;
  border: none;
  border-radius: 25px;
}
