@use "../../styles/partials/palette";
@use "../../styles/partials/typography";

.wrapper {
  display: flex;
  padding: 0 5vw;
}

.img {
  width: 400px;
}

.product {
  &_details {
    display: flex;
    flex-direction: column;
    margin-left: 50px;
    gap: 20px;
  }

  &_title {
    font-size: 64px;
    margin-bottom: 0;
  }

  &_artist {
    opacity: 50%;
  }
}

.addToCart_btn {
  width: 300px;
  padding: 10px;

  font-family: typography.$main-font;
  color: white;
  background-color: palette.$accent-color;
  border: none;
  border-radius: 25px;

  transition: 0.3s;

  &:hover {
    background-color: palette.$primary-btn-hover-color;
  }
}

.formats_wrapper {
  display: flex;
  gap: 10px;
}
