.wrapper {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.headings {
  display: flex;
  padding: 0 40px 0 35px;

  &__blank {
    width: 140px;
  }

  &__items {
    display: flex;
  }
}

.remove_btn {
  border: none;
  background: none;
}

.bin_icon {
  height: 25px;
  width: 25px;
  transition: 0.3s;

  &:hover {
    filter: brightness(1.75);
  }
}

.card_wrapper {
  display: flex;
  gap: 20px;
}
