@use "../../styles/partials/palette";
@use "../../styles/partials/typography";

.btn {
  width: fit-content;
  font-family: typography.$main-font;
  color: white;
  border: none;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.6);
}

.primary {
  background-color: palette.$accent-color;
  transition: 0.3s;

  &:hover {
    background-color: palette.$primary-btn-hover-color;
  }
}

.inactive {
  background-color: palette.$inactive-color;
  transition: 0.3s;

  &:hover {
    background-color: palette.$inactive-btn-hover-color;
  }
}

.small {
  padding: 10px 20px;
  box-shadow: none;
  border-radius: 25px;
}

.large {
  padding: 15px 20px;
  border-radius: 25px;
  font-size: 16px;
}
