.wrapper {
  display: flex;
  flex-direction: column;
  padding: 15px;
  width: 175px;
  transition: 0.3s;

  &:hover {
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 15px;
  }
}

.link {
  color: white;
  text-decoration: none;
}

.img {
  width: 175px;
}

.title {
  font-weight: bold;
}

.artist {
  font-size: 12px;
}

.info {
  display: flex;
  flex-direction: column;
  gap: 10px;
  // padding: 10px;
  padding-top: 15px;
}

.price {
  font-weight: bold;

  &__unavailable {
    font-size: small;
    font-style: italic;
    opacity: 50%;
  }
}
