.headings {
  display: flex;
  padding: 0 45px 0 35px;
  margin: 75px 0 10px 0;

  &__blank {
    width: 140px;
  }

  &__items {
    display: flex;
    flex-grow: 1;
    padding-right: 50px;

    &__item {
      width: 100%;
      font-size: small;

      &__right {
        text-align: right;
      }
    }
  }
}
