.wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
}

.icon {
  width: 40px;
  -webkit-filter: drop-shadow(5px 5px 5px black);
  filter: drop-shadow(0 0 5px black);
  padding: 40px;
}

.button {
  background: none;
  border: none;
}

.showcase_img {
  height: 80vh;
  width: 100%;
  object-fit: cover;
  position: relative;
  z-index: 1;

  opacity: 70%;
}

.showcase_info {
  display: flex;
  flex-grow: 1;
  flex-direction: column;
  justify-content: center;
  gap: 30px;
  padding: 5vw;

  &__text {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }

  &__title {
    font-size: 64px;
    font-weight: 100;
    text-shadow: 0 0 15px black;
  }

  &__artist {
    font-size: 20px;
    text-shadow: 0 0 5px black;
  }
}

.arrows_wrapper {
  display: flex;
  height: 80vh;
  width: 100%;
  justify-content: space-between;

  position: absolute;
  z-index: 2;
}
