@use "../../styles/partials/palette";

.wrapper {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 75px 10vw;
}

.icons_wrapper {
  display: flex;
  height: fit-content;
  gap: 5px;
}

.icon {
  width: 20px;
  opacity: 30%;

  border-radius: 5px;
  filter: grayscale(1) contrast(0) brightness(5);
  transition: 0.3s;

  &__alt {
    filter: invert(1) grayscale(1);
    width: 20px;
    opacity: 30%;
    border-radius: 5px;
    transition: 0.3s;

    &:hover,
    &:active {
      cursor: pointer;
    }

    &:hover {
      filter: invert(0);
      opacity: 100%;
    }
  }

  &:hover,
  &:active {
    cursor: pointer;
  }

  &:hover {
    filter: grayscale(0) contrast(1) brightness(1);
    opacity: 100%;
  }
}

.row_wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.navlinks {
  &__wrapper {
    display: flex;
    gap: 50px;
  }

  &__link {
    color: white;
    text-decoration: none;
    font-size: 14px;

    transition: 0.3s;

    &:hover {
      color: palette.$accent-color;
    }
  }
}

.copyright_text {
  font-size: 14px;
}
