.wrapper {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 40px 0;
}

.icons_wrapper {
  display: flex;
  height: fit-content;
  gap: 5px;
}

.icon {
  width: 20px;
  opacity: 30%;
}

.row_wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.navlinks {
  &__wrapper {
    display: flex;
    gap: 50px;
  }

  &__link {
    color: white;
    text-decoration: none;
    font-size: 14px;
  }
}

.copyright_text {
  font-size: 14px;
}
